<!-- Navigation Bar-->
       
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container">

                    <!-- Logo container-->
                    <div class="logo">
                        <!-- Text Logo -->
                        <!--<a href="index.php" class="logo">-->
                            <!--Zircos-->
                        <!--</a>-->
                        <!-- Image Logo -->
                        <a href="/home" class="logo">
                            <p style="margin-top:20px;">VITggy</p>
                        </a>

                    </div>
                    <!-- End Logo container-->


                    <div class="menu-extras">

                        <ul class="navbar-nav mr-auto navbar-right pull-right">
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link" style="margin-top:20px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <p>{{name}}</p>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <form id="myform" method="post" action="/student/logout"></form>
                                    <a onclick="document.getElementById('myform').submit();">Logout</a>
                                </div>
                            </li>
                    
                        </ul>

                        <div class="menu-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </div>
                    </div>
                    <!-- end menu-extras -->

                </div> <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <div class="navbar-custom">
                <div class="container">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">

                            <li class="has-submenu">
                                <a href="/home"><i class="mdi mdi-view-dashboard"></i>Dashboard</a>
                                
                            </li>

                            <li class="has-submenu">
                                <a href="#"><i class="mdi mdi-home"></i>Restaurants</a>
                                <ul class="submenu megamenu">
                                    <li>
                                        <ul>
                                            <li><a href="/std-restaurant-list">Restaurants List</a></li>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </li>
							
							<li class="has-submenu">
                                <a href="#"><i class=" mdi mdi-file-import"></i>Order</a>
                                <ul class="submenu megamenu">
                                    <li>
                                        <ul>
											<li><a href="/create-order">Create Order</a></li>
										</ul>
                                    </li>
                                </ul>
                            </li>
							
							
						    
                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->